body{
    margin-top: 4%;
    background-color: black;
    color: white;
    font-size:40px;
    font-family:monospace;
}
::selection{
    background-color: rgba(0, 255, 255, 0.542);
    color: black;
}
.logo{
    height: 55px;
    padding-right: 33%;
    margin-left: -36%;
}
.linkedin{
    height: 55px;
    padding-right: 33%;
    margin-left: -40%;
}
.gmail{
    height: 50px;
    padding-right: 35%;
    margin-left: -42%;
}
.github{
        height: 57px;
        padding-right: 35%;
        margin-left: -42%;
    }
.logo:hover{
    filter: invert(1);
}
.github:hover{
    filter: invert(1);
}
.gmail:hover{
    filter: invert(1);
}
.horizontal{
    display: flex;
}
.name{
    margin-left: 6%;
    text-align: left;
    margin-right: 3%;
    margin-top:5%;
}
.face{
    max-height: 350px;
    background-color: rgb(27, 27, 27);
    padding: 1%;
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 4%;
}
.connect{
    text-align: center;
}
.links{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}
.links a{
    font-size:40px;
    color: white;
    text-decoration: none;
    padding: 4%;
    background-color: rgba(27, 27, 27, 0.685);
    margin-top: 4%;
    border-radius: 9px;
}
a:hover{
    transform: scale(1.02);
    background-color: rgb(34, 34, 34);
    transition-duration: 0.1s;
}
.sign{
    opacity: 0.6;
    font-family: Snell Roundhand;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

hr{
    width: 70%;
    margin-top: 7%;
    margin-bottom: 5%;
    color: rgb(27, 27, 27);
    opacity: 0.7;
}
@media(min-width:1000px){
    .links{
        width: 40%;
        margin-left: 30%;
    }
    .logo{
        padding-top:7px;
        margin-bottom: -1%;
        height: 35px;
        padding-right: 31%;
        margin-left: -41%;
    }
    .gmail{
        padding-top:7px;
        margin-bottom: -1%;
        height: 30px;
        padding-right: 31%;
        margin-left: -43%;
    }
    .github{
        padding-top:7px;
        margin-bottom: -1%;
            height: 37px;
            padding-right: 31%;
            margin-left: -43%;
        }
    .linkedin{
        padding-top:7px;
        margin-bottom: -1%;
            height: 37px;
            padding-right: 31%;
            margin-left: -43%;
        }
        .links a{
            padding: 1%;
            margin-top: 3%;
            border-radius: 5px;
            padding-bottom: 2%;
            font-size:20px;
        }
        body{
            margin-top: 1%;
            font-size: 23px;
        }
        .face{
            max-height: 175px;
            padding: 0.4%;
            border-radius: 50%;
            margin-left: 30%;
            margin-top: 3%;
        }
        hr{
            width: 40%;
            margin-top: 3%;
            margin-bottom: 2%;
            color: rgb(27, 27, 27);
            opacity: 0.7;
        }
        .sign{
            margin-top: 2%;
            margin-bottom: 3%;
        }
        .name{
            margin-top: 5%;
            margin-left: 6%;
            text-align: left;
            margin-right: 30%;
        }
}


