*{
    margin:0;
    padding:0;
}

body{
    margin-top: 4%;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
    overflow-x:hidden;
    color: rgba(255, 255, 255, 0.844);
    background-color: rgba(0, 0, 0, 0.871);
}
::selection{
    background-color: rgba(255, 255, 255, 0.312);
}

#face{
    pointer-events: none;
  -webkit-touch-callout: none;
}
#threads{
    filter:invert(1);
}
#threads:hover{
    filter:invert(0);
}

.logo{
    margin-top:3%;
    height: 80px;
    margin-right: 33%;
    margin-left: 2%;
    border-radius: 3%;
    transition:0.7s;
}
.logo:hover{
    filter: invert(1);
}
.textname{
    margin-left: 10%;
    transform: translate(-50%)
}
.horizontal{
    display: flex;
}
.name{
    margin-left: 6%;
    text-align: left;
    margin-right: 3%;
    margin-top:5%;
    font-size:40px;
}
.face{
    max-height: 350px;
    background-color: rgb(27, 27, 27);
    padding: 1%;
    border-radius: 7%;
    margin-left: 3%;
    margin-top: 4%;
}
.connect{
    text-align: center;
}
.links{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}
.links a{
    display: flex;
    font-size:40px;
    color: white;
    text-decoration: none;
    padding: 1%;
    background-color: rgba(27, 27, 27, 0.685);
    margin-top: 4%;
    border-radius: 9px;
}
a:hover{
    transform: scale(1.02);
    background-color: rgba(34, 34, 34,0.685);
    transition-duration: 0.1s;
}
.sign{
    font-family: Snell Roundhand;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
    height:70px;
}

hr{
    width: 50%;
    margin-top: 7%;
    margin-bottom: 5%;
    color: rgb(27, 27, 27);
    opacity: 0.7;
}
@media(min-width:1000px){
    .links{
        width: 40%;
        margin-left: 30%;
    }
    .logo{
        margin-top:2%;
        padding-top:7px;
        margin-bottom: -1%;
        height: 35px;
        padding-right: 31%;
        margin-left: -41%;
    }
    
        .links a{
            padding: 1%;
            margin-top: 3%;
            border-radius: 5px;
            padding-bottom: 2%;
            font-size:20px;
        }
        body{
            margin-top: 1%;
            font-size: 23px;
        }
        .face{
            max-height: 175px;
            padding: 0.4%;
            border-radius: 7%;
            margin-left: 30%;
            margin-top: 3%;
        }
        hr{
            width: 40%;
            margin-top: 3%;
            margin-bottom: 2%;
            color: rgb(27, 27, 27);
            opacity: 0.7;
        }
        .sign{
            margin-top: 2%;
            margin-bottom: 3%;
        }
        .name{
            font-size: 20px;
            margin-top: 5%;
            margin-left: 6%;
            text-align: left;
            margin-right: 30%;
        }
    .starlink{
    margin-top: 8%;
  }
}


  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .container{
    position: absolute;
  }

#sign{
    height: 80px;
}

 .starlink{
     font-size:30px;
     margin-left:-10%;
    margin-top: 100%;
        width: 110%;
        -ms-transform: rotate(-30deg); /* IE 9 */
        -webkit-transform: rotate(-30deg); /* Safari */
        transform: rotate(-30deg); /* Standard syntax */
        position: absolute;
        z-index: -1000;
  }



.screen{
    margin-left: 15vw;
    height: 40vh;
    width: 70vw;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid rgba(255, 255, 255, 0.215);
    border-bottom-width: 30px;
}
.navbar {
    z-index: 10;
    background-color: rgba(117, 117, 117, 0.248);
    position: absolute;
    width: 70vw;
    height: 6vh;
    font-size: 4vh;
    padding-top: 1vh;
}
.navbar a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.item {
    width: 25vw;
    height: 100vh;
    display: inline;
    background-repeat: no-repeat;
    background-position: 60%;
    background-size:cover;
    transition-duration: 1.2s;
}
.item:hover{
    filter:saturate(0);
}
.item a {
    position: relative;
    top: 40%;
    left: 22.5%;
    transform: translate(-50%, -50%);
    transition-duration: 1.2s;
    font-size: 2.4dvw;
}
.items{
    display: flex;
    flex-direction: row;
}
.items:hover .item{
    filter: saturate(0);
    width: 10vw;
}

#mount {
    background-image: url("mountain.avif");
}
#mount:hover{
    filter:saturate(1);
    width: 70vw;
}
#mount:hover a{
    top: 20%;
}
#green {
    background-image: url("tree.jpg");
}
#green:hover{
    filter:saturate(1);
    width: 70vw;
}
#green:hover a{
    top: 20%;
}
#desert {
    background-image: url("desert.jpg");
}
#desert:hover{
    filter:saturate(1);
    width: 70vw;
}
#desert:hover a{
    top: 20%;
}
#ocean {
    background-image: url("ocean.jpg");
}
#ocean:hover{
    filter:saturate(1);
    width: 70vw;
}
#ocean:hover a{
    top: 20%;
}
